@font-face {
  font-family: "base-font";
  src: url("../fonts/Archangelsk.eot");
  src: url("../fonts/Archangelsk.eot?#iefix") format("embedded-opentype"), url("../fonts/Archangelsk.woff") format("woff"), url("../fonts/Archangelsk.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fontello";
  src: url("../fonts/fontello.eot");
  src: url("../fonts/fontello.eot?#iefix") format("embedded-opentype"), url("../fonts/fontello.woff") format("woff"), url("../fonts/fontello.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tahoma";
  src: url("../fonts/Tahoma.eot");
  src: url("../fonts/Tahoma.eot?#iefix") format("embedded-opentype"), url("../fonts/Tahoma.woff") format("woff"), url("../fonts/Tahoma.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Tahoma-Bold";
  src: url("../fonts/Tahoma-Bold.eot");
  src: url("../fonts/Tahoma-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Tahoma-Bold.woff") format("woff"), url("../fonts/Tahoma-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
