<form class="b-application-form ">
    <div class="b-application-form-inner tac">
        <h3 class="text-white mb15 f-normal lh27">
            {% if form_title %}
                {{ form_title }}
            {% else %}
                Успейте получить специальные условия
            {% endif %}
        </h3>
        <p class="text-white fz15 f-normal lh18 mb25">
            {% if form_title_label %}
                {{ form_title_label }}
            {% else %}
                Оставьте заявку для получения перевозки
            {% endif %}
        </p>
        <div class="b-application-form-inner__input-list mb20">
            <div class="input-wrapper">
                <input type="text" placeholder="Ваше имя">
            </div>
            <div class="input-wrapper">
                <input type="text" placeholder="Номер телефона" class="inputmask-phone data-inputmask">
            </div>
            <div class="input-wrapper">
                <input type="text" placeholder="E-mail">
            </div>
        </div>
        <a href="#" class="btn
            {% if form_btn_color %}
                {{ form_btn_color }}
            {% else %}
                btn-blue
            {% endif %}">
            {% if form_btn_text %}
                {{ form_btn_text }}
            {% else %}
                Получить консультацию
            {% endif %}
        </a>
    </div>
</form>

