<div class="slider-list mb20">
    <div class="slider-block">
        <label for="slider-range" class="slider-range-label lh18 mb10 fz15  dib f-normal">Сумма займа
            (тенге)</label>
        <div class="input-wrapper dib"><input type="text" data-input-value class="data-input"></div>
        <input class="my-slider-range sum-range " type="text">
        <div class="clearfix">
            <span class="slider-val-min left">200 000</span>
            <span class="slider-val-max right">12 000 000</span>
        </div>
    </div>
    <div class="slider-block">
        <label for="slider-range" class="slider-range-label lh18 mb10 fz15 dib  f-normal">Срок займа</label>
        <div class="input-wrapper dib"><input type="text" data-input-value class="data-input"></div>
        <input class="slider-range days-range" type="text">
        <div class="clearfix">
            <span class="slider-val-max right">180 дней</span>
        </div>
    </div>
</div>