@import _imports.sass
@import ../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss
@import _page-template.sass
@import _framework.sass
@import _icons.sass

.page-header
    background-color: #fff
    max-width: 100% !important
    margin: 0 auto

.data-input
    height: 30px
    padding: 0 13px

.fixed
    top: 0
    z-index: 700

//.site-wrapper
    min-width: 320px

.site-wrapper-content
    +trans()
    &.active
        +transform(translateX(300px))
        +trans()


.page-header__row__inner
    width: calc(100% - 300px)

.overlay
    +trans()
    z-index: 400
    position: fixed
    top: 0
    right: 0
    width: 100%
    height: 100%
    background: rgba(0 ,0 ,0 ,0.8)

.slider-block
    .slider-range-label
        width: 145px !important

*:not(.tdu)
    text-decoration: none !important

*:not(*[class*="mb"])
    margin-bottom: 0

*:not(*[class*="mt"])
    margin-top: 0

.container
    width: auto
    max-width: 1205px !important
    padding: 0 20px !important
    min-width: 320px !important

*
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

input
    width: 100%
    background-color: #eee
    height: 40px
    box-shadow: none
    font-family: $font-base
    padding: 13px
    border: none
    font-size: 14px
    color: $black
    +phc($grey)
a
    text-decoration: none
    &:hover
        color: $lightgrey

body
    color: $black
    background-color: #fff
    font-family: $font-base
    font-size: 14px
    font-weight: 400
    line-height: em(17px)


.blue-bg
    background-color: $blue

.navbar
    margin-bottom: 0

/*-------------------page-content__b-services------------------*/
.page-header
    +trans()
    .nav > li > a
        padding-right: 18px
        padding-top: 40px
        padding-bottom: 40px



.page-header__navbar-link
    font-size: 15px

.page-header__logo
    flex-basis: 250px
    flex-shrink: 0
    & p
        color: $lightgrey

.page-header__phone
    flex-basis: 320px
    flex-shrink: 0

.page-header__logo__inner
    font-family: $font-second
    font-size: 40px
    line-height: 48px

.page-header
    padding: 0
    margin: 0
    border-bottom: 5px solid $blue


.page-content__blue-stripe
    & .container
        min-height: 277px

.reasons__title
    font-size: 70px
    +position(absolute, 0 0 0 50px)
    width: 42%
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    & span
        line-height: 0.58em

.reasons__title__big-number
    font-size: 363px
    line-height: 0.58em
    //2y7
    +position(absolute, 102% none none)
    +transform(translateY(-100%))

.reasons__title__content
    +position(absolute, 100% none -190px 253px)
    +transform(translateY(-100%))

.page-content__section-title, .page-footer__b-title
    font-size: 60px
    font-family: $font-second
    font-weight: 400
    line-height: 1.2em


/*-------------------first-screen------------------*/
.first-screen__form__header
    border-radius: 21px 21px 0 0
    padding: 12px 35px
    background: linear-gradient(to bottom, #31c400, #238e00)
    & p
        text-shadow: 2.1px 2.1px 3px rgba(0, 0, 0, 0.8)

.first-screen__form__content
    border-radius: 0 0 21px 21px
    & .slider-list
        & .slider-block
            width: 100%

.first-screen__form
    border-radius: 21px
    max-width: 466px
    min-height: 106px
    +position(absolute, 16% 28px none none)
    +transform(translateY(-75%))
    &:before
        display: block
        content: ''
        +position(absolute, -10px -10px -10px -10px)
        opacity: 0.5
        background-color: white
        border-radius: 31px

.first-screen__form__inner
    position: relative
    z-index: 200

.first-screen__form__content__input-list
    & .grid-wrapper
        &:not(:last-child)
            margin-bottom: 11px

.first-screen__form__content
    background-color: #fff
    padding: 20px
    & .input-wrapper
        &:not(:last-child)
            margin-bottom: 12px

.first-screen__car-img
    +position(absolute, none none calc(0% - 58px) 14%)
    z-index: 300

.first-screen__notebook-img
    +position(absolute, none none none -6%)
    width: 475px
    height: 540px
    z-index: 200

.first-screen__title
    text-shadow: 4.9px 4.9px 6px black
    font-weight: 400
    line-height: 40px
    margin: 0

.first-screen
    padding-top: 30px
    +retina-bg("city-bg.png", "city-bg@2x.png")
    -webkit-background-size: cover
    background-size: cover
    background-repeat: no-repeat
    background-position: center 95%
    & .container
        min-height: 550px


.first-screen__notebook-img__text
    +position(absolute, 15% none none 20%)
    +transform(rotate(8deg))
    //font-size: 130%
    //& p
        font-size: 146%

/*-------------------page-content__b-services------------------*/

.page-content__b-services
    background-color: $green
    .page-content__b-services__icons-list //324354
        & .icon-wrapper
            +transform(translateY(+150%))
        .arrow-right
            +arr(40px, 3px, r, #fff)
            margin-right: 5px
            margin-left: -20px

.page-content__b-services__icons-item
    position: relative
    flex-basis: 280px
    flex-shrink: 1
    display: inline-block
    & .circle-icon-wrapper
        width: 170px
        height: 170px
        background-color: transparent
        border: 5px solid #fff
        text-align: center
        [class*='icon-']
            line-height: 150px
            color: #fff
            font-size: 100px
        & .icon-edit
            margin-left: 9%
        & .icon-wallet
            margin-left: 6%

.page-content__b-demands
    & .square-wrapper
        width: 575px
        height: 420px
        border: 1px solid #b5b5b5

.page-content__block
    padding-top: 40px
    padding-bottom: 40px

/*-------------------page-content__b-advantages-info------------------*/

.page-content__b-advantages-info
    +retina-bg("cars-bg.png", "cars-bg@2x.png")
    -webkit-background-size: cover
    background-size: cover
    background-position: center center
    & .icon-wrapper
        text-align: center
        [class*='icon-']
            color: #ab6a30
            line-height: 50px
            font-size: 40px

.page-content__b-advantages-info-item
    & .icon-wrapper
        width: 80px
        height: 50px
        +position(absolute, none none none 0)
    & p
        padding-left: 70px


/*-------------------page-content__b-advantages------------------*/
.b-advantages__adv-list-item-wrapper
    width: 145px
    display: flex
    justify-content: center
    align-items: center
    margin-right: 20px
    &:not(:last-child)
        margin-bottom: 20px



.b-advantages__adv-list
    display: flex
    justify-content: center
    align-items: baseline
    flex-wrap: wrap

.b-advantages__adv-list-item
    text-align: center
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    & .icon-wrapper
        display: flex
        align-items: center
        justify-content: center
        text-align: center
        width: 108px
        height: 106px
        border: 5px solid $green
        border-radius: 10px
        [class*='icon-']
            color: $green
            line-height: 105px
            font-size: 75px

    &.b-advantages__adv-list-item-text
        max-width: 125px
        word-wrap: break-word

.page-content__b-application
    background-color: #748187
    min-height: 300px

.page-header__row.navbar-default
    background-color: transparent
/*-------------------page-content__b-reviews------------------*/

.page-content__b-reviews__slider-item
    //max-width: 195px
    & .circle-icon-wrapper
        width: 90px
        height: 90px
        background-color: transparent
        border: 4px solid $blue
        text-align: center
        [class*='icon-']
            color: $blue
            line-height: 80px
            font-size: 55px

.shell-w45
    width: 45%

.b-application-form
    & .btn
        padding: 8px 25px 8px 25px

.b-application-form-wrapper
    +retina-bg(" application_bg.png", " application_bg@2x.png")
    //htygwgr
    background-size: cover
    background-position: center center
    min-height: 400px
    width: 726px
    padding: 35px
    +position(absolute, 50% none none 50%)
    +transform(translate(-50%, -50%))


.b-application-form-inner__input-list, .page-content__b-get-consultation__form__input-list
    & .input-wrapper
        &:not(:last-child)
            margin-bottom: 11px

.page-content__b-reviews__slider-list
    padding-left: 85px
    padding-right: 85px
    & .owl-item
        display: flex
        justify-content: center
        align-items: center


/*-------------------page-content__b-get-consultation------------------*/

.page-content__b-get-consultation__photo
    +position(absolute, 0 0 0 calc(100% - 20px))
    +retina-bg("person.png", "person@2x.png")
    background-size: cover !important
    background-repeat: no-repeat
    background-position: 0 center
    height: 100%
    width: calc(100% - 41.66667%)
    +transform(translateX(-100%))



.dark-grey-bg
    background-color: $dark-grey

.grey-bg
    background-color: $grey

.page-content__b-get-consultation
    min-height: 455px

.page-content__b-get-consultation__form
    padding: 35px 90px
    min-height: 455px
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box


.navbar-fixed-top
    max-width: 1205px
    margin: 0 auto

.page-content__b-questions__accordeon
    .accordion-group
        padding-left: 70px
        &:not(:last-child)
            margin-bottom: 35px
    .accordion-toggle

        &.collapsed
            .accordeon-item-number
                background-color: #666
                +trans()

    .accordeon-item-number
        margin-right: 25px
        width: 46px
        height: 46px
        text-align: center
        background-color: $blue
        border-radius: 50%
        //padding: 20px
        font-weight: 400
        font-family: $font-second
        font-size: 40px
        color: #fff
        line-height: 46px
        position: absolute
        top: 50%
        left: 0
        +transform(translateY(-50%))

.page-content__b-shipping
    background-color: $green
    & .container-fluid
        padding-left: 30px
        padding-right: 30px





.page-content__b-shipping__image
    width: calc(66.66667% - 66px)
    margin-right: 66px
    & .img-wrapper
        width: 799px
        max-width: 100%

.page-content__b-shipping__form
    width: 33.33333%
    padding: 0 43px

.circle-icon-wrapper
    background-color: #fff
    width: 50px
    height: 50px
    border-radius: 50%


.page-footer__b-contacts
    background-color: $blue

.page-footer__b-contacts
    padding-top: 40px
    padding-bottom: 30px

.page-footer__b-contacts__content-item
    display: flex
    align-items: flex-end
    padding-top: 65px
    //&:not(:last-child)
        margin-right: 80px
    &.span3
        width: calc(25% - 25px)
    &.span6
        width: calc(50% - 25px)

.page-content__b-calculate__form
    & [class*='slider-val-']
        color: #fff

.page-content__b-calculate__form__inner
    +make-row(40px)
    +clearfix()
    //& [class*='page-content__b-calculate__form__']
        &:not(:last-child)
            padding-bottom: 45px

.page-content__b-calculate__form__auto-inform
    +make-md-column(3, 40px)
    & .input-wrapper
        &:not(:last-child)
            margin-bottom: 30px

.page-content__b-calculate__form__inner

    & .page-content__b-calculate__form__main
        +make-md-column(5, 40px)
        & .input-block
            z-index: 100
            position: relative
            flex-basis: 200px
            flex-shrink: 0

        & .data-input
            background-color: #fff
            position: static !important
            opacity: 1
            border-radius: initial

        & input
            cursor: pointer
            width: 100%
            height: 18px
            opacity: 0
            z-index: 20
            border: 1px solid #a7a9ac
            border-radius: 50%
            margin-right: 10px
            +position(absolute, 0 none none 0)
            &:checked
                & + .checkbox-icon
                    border: 1px solid $green
                    +trans()
                    &:before
                        +trans()
                        z-index: 2
                        display: inline-block
                        width: 12px
                        height: 12px
                        background-color: #fff
                        border-radius: 50%
                        @extend .abs_centered
                        content: ''
                        font-size: 14px


        & .checkbox-icon
            content: ''
            height: 22px
            flex-shrink: 0
            flex-basis: 22px
            margin-right: 10px
            border-radius: 50%
            z-index: 2
            background-color: $green
            display: inline-block
            position: relative


.page-content__b-calculate__form__contact-inform
    +make-md-column(4, 40px)


.page-content__b-calculate__form__contact-inform__inner
    border: 1px solid #fff
    padding: 15px 20px

.advantages-slider-item
    text-align: center
    margin-left: 85px
    margin-right: 85px
    margin-top: 0

.advantages-slider-list
    display: flex !important
    flex-direction: column
    & .owl-stage-outer
        order: 2
    & .owl-prev, .owl-next
        margin-top: 100px
        transform: translateY(25%)

    & .owl-dots
        margin-bottom: 28px
        order: 1
        width: 100%
        display: flex
        justify-content: center
        flex-direction: row
        flex-wrap: wrap
        //+position(absolute, 0 none none 50%)
        //+transform(translateX(-50%))
        font-family: $font-second
        font-size: 38px
        color: #fff

    & .owl-dot
        display: flex
        justify-content: center
        align-items: center
        flex-basis: 78px
        height: auto
        flex-shrink: 0
        & span
            display: flex
            justify-content: center
            align-items: center
            width: 57px
            height: 57px
            border-radius: 50%
            border: 7px solid $green
            line-height: 0
            background-color: $blue
        &.active
            & span
                border: 7px solid $blue
                background-color: $green
        &:not(:last-child)
            margin-right: 5px





/*-------------------page-footer------------------*/

.page-footer__b-contacts__content
    align-items: stretch
    & .circle-icon-wrapper
        +position(absolute, 0 none none none)
        [class*='icon-']
            position: absolute
            top: 50%
            left: 50%
            +transform(translate(-50%, -50%))
            font-size: 25px
            color: $blue
        &.centered
            left: 50%
            +transform(translateX(-50%))
        &.to-left
            left: 0
        &.to-right
            right: 0



.page__footer__socials-item
    display: inline-block
    width: 26px
    height: 26px
    border-radius: 5px
    vertical-align: middle
    background-color: transparent
    position: relative
    [class*='icon-']
        font-size: 19px
        color: #fff //grerfw
        line-height: 26px
    &.inst
        background: $rainbow-instagram
        &:hover
            +trans()
            background: $rainbow-instagram-hover

    &.vk
        background-color: $blue-vk
        &:hover
            +trans()
            background: $blue-vk * 0.8

    &.ok
        background-color: $orange-ok
        &:hover
            +trans()
            background: $orange-ok * 0.8

    &.at
        background-color: $blue-mail-ru
        &:hover
            +trans()
            background: $blue-mail-ru * 0.8
        [class*='icon-']
            color: #ffbf00

    &.fb
        background-color: $blue-facebook
        &:hover
            background: $blue-facebook * 0.8
        & .icon-facebook
            color: #fff
            font-size: 20px
            position: absolute
            top: 100%
            line-height: 20px
            right: 20%
            +transform(translateY(-100%))


.page-footer__map
    height: 320px

.first-screen__form__inner, .page-content__b-calculate__form__main
    & .tooltip
        opacity: 1 !important

        &.top
            top: 15px !important

        & .tooltip-inner
            background-color: transparent
            color: $black

        & .tooltip-arrow
            display: none

    & .btn
        line-height: 20px
        border-radius: 12px

.page-content__b-calculate__form__main
    & .tooltip-inner
        color: #fff !important

.page-content__b-questions__accordeon
    .panel-body
        border: none !important

.page-header
    min-height: 105px
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 1000
    & .navbar-toggle
        //background-color: $color-brand-2
        &:hover
            background-color: #fff * 0.95
            
        & .icon-bar
            background-color: #ccc

.last-child-mb0
    & > *:last-child
        margin-bottom: 0

.page-content__b-calculate__form
    .data-input
        height: 20px
        box-sizing: content-box
        width: 140px
        max-width: 50%
        padding: 8px 13px