<footer class="page-footer">
    <div class="page-footer__b-contacts">
        <div class="container tac">
            <div class="page-footer__b-title text-white mb50">
                Наши контакты
            </div>
            <div class="page-footer__b-contacts__content mb40 fx-center fx-justify fx-items-end p-rel">
                <div class="page-footer__b-contacts__content-item span3 tal">
                    <div class="circle-icon-wrapper to-left">
                        <i class="icon-phone"></i>
                    </div>
                    <div class="dib vab"><a href="tel: 77273295500" class="text-white fz20 lh28 db f-normal">
                        +7 (727) 329-55-00
                    </a>
                    <a href="tel: +77015555918" class="text-white fz20 lh28 db f-normal">
                        +7 (701) 555 59 18
                    </a>
                    <a href="tel: +77475559182" class="text-white fz20 lh28 db f-normal">
                        +7 (747) 555 91 82
                    </a></div>
                </div>
                <div class="page-footer__b-contacts__content-item span6 tac">
                    <div class="circle-icon-wrapper centered dib">
                        <i class="icon-clock"></i>
                    </div>
                    <div class="dib vab"><p class="text-white fz20 f-normal lh28">
                        Гибкий график работы. <br>
                        Мы готовы идти на встречу к клиентам и согласовать  удобное для Вас время. Наш автоломбард работает ежедневно, 7 дней в неделю без перерывов и выходных.
                    </p></div>
                </div>
                <div class="page-footer__b-contacts__content-item span3 tar">
                    <div class="circle-icon-wrapper to-right dib">
                        <i class="icon-building-filled"></i>
                    </div>
                    <div class="dib vab"><p class="text-white fz20 f-normal lh28">
                        Республика Казахстан <br>3
                        г. Алматы <br>3
                        ул. Тимирязева 17, оф. 10 <br>3
                        угол ул. Маркова
                    </p></div>
                </div>
            </div>
            <div class="tac">
                <div class="icon-statistic db mb20 "></div>
                <div class="page__footer__socials">
                    <a href="#" class="page__footer__socials-item inst">
                        <span class="icon-instagram"></span>
                    </a>
                    <a href="#" class="page__footer__socials-item vk">
                        <span class="icon-vkontakte"></span>
                    </a>
                    <a href="#" class="page__footer__socials-item ok">
                        <span class="icon-odnoklassniki"></span>
                    </a>
                    <a href="#" class="page__footer__socials-item at">
                        <span class="icon-at"></span>
                    </a>
                    <a href="#" class="page__footer__socials-item fb">
                        <span class="icon-facebook"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-footer__map" id="page-footer__map">

    </div>
</footer>