<header class="page-header" id="page-header">
    <div class="container">
        <div class="page-header__row fx-items-center fx-justify navbar-default p-rel">
            <div class="page-header__logo lh-normal" id="logo">
                <div class="page-header__logo__inner lh08 mb5 fx-items-baseline">
                    <h1 class="color-brand-1 lh0  dib  ">АВТО</h1>
                    <span class=" dib color-brand-2 ">ломбард</span>
                </div>
                <p class="tal page-header__logo-label">ссуды&nbsp;под залог&nbsp;автомобиля</p>
            </div>
            <div class="fx-justify fx-items-center page-header__row__inner">
                <nav class="page-header__navbar navbar ">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="page-header__navbar-item">
                                <a href="#car-loan" class="page-header__navbar-link js-scrollScreen">Автозайм</a>
                            </li>
                            <li class="page-header__navbar-item">
                                <a href="#calculate" class="page-header__navbar-link js-scrollScreen">Рассчитать
                                    кредит</a>
                            </li>
                            <li class="page-header__navbar-item">
                                <a href="#about-us" class="page-header__navbar-link js-scrollScreen">О нас</a>
                            </li>
                            <li class="page-header__navbar-item">
                                <a href="#reviews" class="page-header__navbar-link js-scrollScreen">Отзывы</a>
                            </li>
                            <li class="page-header__navbar-item">
                                <a href="#contacts" class="page-header__navbar-link js-scrollScreen">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="page-header__phone">
                    <a href="tel:77772225544" class="fx-items-center">
                        <span class="icon-phone-circle text-green fz42 mr10 fz-mobile-7vw dib vam"></span>
                        <span class="hidden-xs text-blue page-header__phone-number dib vam ff-sub fz28 fz-mobile-26 fz-mobile-5vw fz-desktop">+7&nbsp;777&nbsp;222-55-44</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="page-header__placeholder"></div>