<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block pageTitle %}{% endblock %} </title>
    {% include "styles.twig" %}
</head>
<body>
<div class="site-wrapper">
{% include "header.twig" %}
{% block pageContent %}{% endblock %}
{% include "footer.twig" %}

<!-- Scripts -->
{% include "scripts.twig" %}
{% block pageScripts %}{% endblock %}
    <nav class="sliding-panel">
        <div class="overlay hidden"></div>
        <span class="sliding-panel__close"></span>
        <ul class="sliding-panel-list">
            <li class="sliding-panel-item">
                <a class="sliding-panel-link js-scrollScreen" href="#car-loan">Автозайм</a>
            </li>
            <li class="sliding-panel-item">
                <a class="sliding-panel-link js-scrollScreen" href="#calculate">Рассчитать кредит</a>
            </li>
            <li class="sliding-panel-item">
                <a class="sliding-panel-link js-scrollScreen" href="#about-us">О нас</a>
            </li>
            <li class="sliding-panel-item">
                <a class="sliding-panel-link js-scrollScreen" href="#reviews">Отзывы</a>
            </li>
            <li class="sliding-panel-item">
                <a class="sliding-panel-link js-scrollScreen" href="#calculate">Контакты</a>
            </li>
        </ul>
        <div class="fl-grid-a fx-w hidden w300">
            <div class="work-hours  mt20 mb30">
                <p>Часы работы <br>
                    10:00 – 19:00</p>
            </div>
            <a href="tel:+74956646607" class=" mb30 tdn header-phone no-hover">
                +7 (495) 664-66-07
            </a>
            <a href="#" class="green_btn-header popup-trigger spc mb30 "><i class=" phone-icon vam mr10"></i>Заказать
                звонок</a>
        </div>

    </nav>
</div>
</body>
</html>